:root {
    --color-neutral-surface: #f2f3f5;
    --color-neutral-focus: #e4e7eb;
    --color-neutral: #293847;
    --color-neutral-hover: #0f1419;
    --color-info-surface: #f2f3f5;
    --color-info-focus: #e4e7eb;
    --color-info: #293847;
    --color-info-hover: #0f1419;
    --color-success-surface: #eaf7ed;
    --color-success-focus: #bde7c7;
    --color-success: #2bb04a;
    --color-success-hover: #1f7d35;
    --color-success-strong: #124a1f;
    --color-warning-surface: #fffae6;
    --color-warning-focus: #fff0b0;
    --color-warning: #ffce00;
    --color-warning-hover: #b59200;
    --color-warning-strong: #6b5700;
    --color-error-surface: #fbeced;
    --color-error-focus: #f3c4c6;
    --color-error: #d84148;
    --color-error-hover: #992e33;
    --color-error-strong: #5b1b1e;
    --color-action-surface: #ebf2ff;
    --color-action-focus: #dbe5ff;
    --color-action: #3732ff;
    --color-action-hover: #211db6;
    --color-action-strong: #20208f;
    --color-accent-surface: #ffe8ee;
    --color-accent-focus: #fad2dc;
    --color-accent-secondary: #ff506e;
    --color-accent: #ff1e3c;
    --color-accent-hover: #c80a28;
    --color-accent-strong: #aa0a28;
    --color-business-surface: #ebf2ff;
    --color-business-focus: #dbe5ff;
    --color-business: #3732ff;
    --color-business-hover: #211db6;
    --color-business-strong: #20208f;
    --color-brand-surface: #ebf2ff;
    --color-brand-secondary: #4c56ff;
    --color-brand: #3732ff;
    --color-brand-hover: #211db6;
    --color-brand-strong: #20208f;
    --color-invert: #fff;
    --color-rating-surface: #fffae6;
    --color-rating-focus: #fff0b0;
    --color-rating: #ffce00;
    --color-rating-hover: #b59200;
    --color-rse-surface: #eaf7ed;
    --color-rse-focus: #bde7c7;
    --color-rse: #2bb04a;
    --color-rse-hover: #1f7d35;
    --color-price-surface: #ffe8ee;
    --color-price-focus: #fad2dc;
    --color-price: #ff1e3c;
    --color-price-hover: #c80a28;
    --color-cdav-surface: #e8f8fe;
    --color-cdav-focus: #b7e8fb;
    --color-cdav: #16b4f2;
    --color-cdav-hover: #1080ac;
    --color-trade-surface: #eaf7ed;
    --color-trade-focus: #bde7c7;
    --color-trade: #2bb04a;
    --color-trade-hover: #1f7d35;
    --color-text: #293847;
    --color-text-muted: #7a8999;
    --color-disabled: #b6c2cd;
    --color-background-white: #fff;
    --color-background: #f2f3f5;
    --color-background-focus: #fcfcfd;
    --color-border: #b6c2cd;
    --breakpoint-none: 0;
    --breakpoint-2xs: 20rem;
    --breakpoint-xs: 30rem;
    --breakpoint-sm: 48rem;
    --breakpoint-md: 64rem;
    --breakpoint-lg: 80rem;
    --breakpoint-xl: 100rem;
    --breakpoint-2xl: 120rem;
    --breakpoint-mobile: 48rem;
    --breakpoint-tablet: 64rem;
    --breakpoint-desktop: 80rem;
    --space-none: 0px;
    --space: 16px;
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;
    --space-2xl: 64px;
    --width-none: 0;
    --width-4xs: 20rem;
    --width-3xs: 26rem;
    --width-2xs: 32rem;
    --width-xs: 38rem;
    --width-sm: 48rem;
    --width-md: 64rem;
    --width-lg: 80rem;
    --width-xl: 90rem;
    --width-2xl: 100rem;
    --width-3xl: 120rem;
    --asset-image-logo-full-primary: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 757 175'%3E%3Cpath fill='%233732FF' d='M164.139 67.018c-5.151 23.08-11.719 43.216-17.552 58.739-1.8-15.245-3.414-30.342-5.039-45.533-1.698-15.886-3.408-31.873-5.352-48.237l-19.903 2.458c.321 3.253.675 6.505 1.028 9.756.917 8.429 1.834 16.859 2.185 25.33-37.437 21.284-50.376 47.199-50.233 64.446C41 145 14 129.5 21.446 99.627c7.4-24.396 37.413-31.123 59.17-23.653l6.532-18.97C54.642 45.81 13.5 58 2.278 93.777-10.5 141 34.5 170 76.937 152.57c18.064 13.93 41.564.93 50.699-16.404 2.028 17.032 3.428 28.589 3.482 28.876l18.826 3.446c.538-1.023 8.884-17.013 18.126-42.982 1.077 14.591 2.028 27.315 2.315 31.048l19.993-1.526c-.772-10.157-6.443-86.628-6.443-86.628zm-74.048 70.476C85 120 111.272 98.824 119.506 93.166 120 108.5 109.5 142.5 90.091 137.494m74.307-105.01-.333 20.889 20.045.318.332-20.887zM401.68 137.98c9.82-2.979 5.82-59.979.736-77.26l19.418-5.061C427.95 79.452 439 157.989 401.5 157.989c-30.182-.311-31.515-45.177-31.388-66.258a43 43 0 0 1-7.897 3.373c.468 22.221-5.215 63.065-33.309 63.154-10.406-.269-15.137-4.765-18.897-12.652-6.012 6.407-14.555 12.563-25.754 12.563-16.925 0-30.45-12.775-35.965-28.123-9.17 17.48-46.84 26.633-48.455 27.01l-4.648-19.508c16.726-3.966 30.616-11.396 34.475-15.578-3.921-4.02-9.281-7.317-14.717-10.659-11.422-7.024-23.176-14.253-22.612-28.84 1.22-17.14 21.679-27.37 43.628-35.876l7.251 18.7c-28.195 10.912-30.761 16.978-30.869 18.575 4.288 4.274 10.506 8.485 16.516 12.555 6.126 4.148 12.036 8.15 15.465 11.924-.976-22.33 6.304-58.016 34.547-58.99 14.394-.503 25.323 9.96 26.525 11.162l-14.088 14.286c-1.633-1.58-6.891-5.582-11.844-5.402C260 71.5 257.5 133 280.774 137.656c9.871 2.64 16.08-6.808 21.072-14.403.805-1.225 1.578-2.402 2.33-3.472C302.5 98 306 52.5 332.514 52.338c11.216 0 25.935 10.23 27.996 21.84 5.431-3.054 9.248-8.215 12.437-13.441l18.539 6.21C389.5 78 388.5 138.5 401.68 137.978m-73.366-58.273c-5.882 15.595-6.814 42.294.395 58.524 10.791-.574 13.77-33.555 13.406-43.897-5.711-3.177-10.573-8.978-13.801-14.627m159.15 33.632-32.77-62.597-18.916 4.791 1.472 100.878 20.064-.287-.861-58.793 32.16 61.431 18.916-4.648V65.242h-20.065zm1.992-79.916 76.399 1.813-.467 20.046-25.843-.61c.385 15.053.867 30.102 1.349 45.152.608 18.998 1.217 37.997 1.63 57l-20.046.449c-.419-18.317-1.004-36.629-1.589-54.94-.513-16.048-1.025-32.095-1.426-48.145l-30.491-.718z'/%3E%3Cpath fill='%233732FF' d='M663.018 26.477 553.795 72.51l7.071 16.798 3.284-1.382-.323 33.596 23.689-1.92-5.186 34.906 14.985 8.219 46.249-40.11-6.138-7.089 50.627-4.128c-7.969-28.42-16.443-56.685-25.035-84.923m-59.062 106.351 2.189-14.752 16.367-1.328zm-21.716-31.083.216-21.536 69.004-29.073c3.302 10.947 8.758 29.18 13.029 43.915zM703.02 6c-.179.144-17.803 15.057-25.053 20.657l11.145 14.41c7.555-5.85 24.927-20.53 25.663-21.158zM750.465 27.992 696.363 48.76l6.535 17.023L757 45.014zM701.118 95.123a115.3 115.3 0 0 1 30.33-3.536l.323-18.215c-11.827-.18-23.636 1.166-35.122 4.091z'/%3E%3C/svg%3E");
    --asset-image-logo-full-alternate: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 757 175'%3E%3Cpath fill='%23fff' d='M164.139 67.018c-5.151 23.08-11.719 43.216-17.552 58.739-1.8-15.245-3.414-30.342-5.039-45.533-1.698-15.886-3.408-31.873-5.352-48.237l-19.903 2.458c.321 3.253.675 6.505 1.028 9.756.917 8.429 1.834 16.859 2.185 25.33-37.437 21.284-50.376 47.199-50.233 64.446C41 145 14 129.5 21.446 99.627c7.4-24.396 37.413-31.123 59.17-23.653l6.532-18.97C54.642 45.81 13.5 58 2.278 93.777-10.5 141 34.5 170 76.937 152.57c18.064 13.93 41.564.93 50.699-16.404 2.028 17.032 3.428 28.589 3.482 28.876l18.826 3.446c.538-1.023 8.884-17.013 18.126-42.982 1.077 14.591 2.028 27.315 2.315 31.048l19.993-1.526c-.772-10.157-6.443-86.628-6.443-86.628zm-74.048 70.476C85 120 111.272 98.824 119.506 93.166 120 108.5 109.5 142.5 90.091 137.494m74.307-105.01-.333 20.889 20.045.318.332-20.887zM401.68 137.98c9.82-2.979 5.82-59.979.736-77.26l19.418-5.061C427.95 79.452 439 157.989 401.5 157.989c-30.182-.311-31.515-45.177-31.388-66.258a43 43 0 0 1-7.897 3.373c.468 22.221-5.215 63.065-33.309 63.154-10.406-.269-15.137-4.765-18.897-12.652-6.012 6.407-14.555 12.563-25.754 12.563-16.925 0-30.45-12.775-35.965-28.123-9.17 17.48-46.84 26.633-48.455 27.01l-4.648-19.508c16.726-3.966 30.616-11.396 34.475-15.578-3.921-4.02-9.281-7.317-14.717-10.659-11.422-7.024-23.176-14.253-22.612-28.84 1.22-17.14 21.679-27.37 43.628-35.876l7.251 18.7c-28.195 10.912-30.761 16.978-30.869 18.575 4.288 4.274 10.506 8.485 16.516 12.555 6.126 4.148 12.036 8.15 15.465 11.924-.976-22.33 6.304-58.016 34.547-58.99 14.394-.503 25.323 9.96 26.525 11.162l-14.088 14.286c-1.633-1.58-6.891-5.582-11.844-5.402C260 71.5 257.5 133 280.774 137.656c9.871 2.64 16.08-6.808 21.072-14.403.805-1.225 1.578-2.402 2.33-3.472C302.5 98 306 52.5 332.514 52.338c11.216 0 25.935 10.23 27.996 21.84 5.431-3.054 9.248-8.215 12.437-13.441l18.539 6.21C389.5 78 388.5 138.5 401.68 137.978m-73.366-58.273c-5.882 15.595-6.814 42.294.395 58.524 10.791-.574 13.77-33.555 13.406-43.897-5.711-3.177-10.573-8.978-13.801-14.627m159.15 33.632-32.77-62.597-18.916 4.791 1.472 100.878 20.064-.287-.861-58.793 32.16 61.431 18.916-4.648V65.242h-20.065zm1.992-79.916 76.399 1.813-.467 20.046-25.843-.61c.385 15.053.867 30.102 1.349 45.152.608 18.998 1.217 37.997 1.63 57l-20.046.449c-.419-18.317-1.004-36.629-1.589-54.94-.513-16.048-1.025-32.095-1.426-48.145l-30.491-.718z'/%3E%3Cpath fill='%23fff' d='M663.018 26.477 553.795 72.51l7.071 16.798 3.284-1.382-.323 33.596 23.689-1.92-5.186 34.906 14.985 8.219 46.249-40.11-6.138-7.089 50.627-4.128c-7.969-28.42-16.443-56.685-25.035-84.923m-59.062 106.351 2.189-14.752 16.367-1.328zm-21.716-31.083.216-21.536 69.004-29.073c3.302 10.947 8.758 29.18 13.029 43.915zM703.02 6c-.179.144-17.803 15.057-25.053 20.657l11.145 14.41c7.555-5.85 24.927-20.53 25.663-21.158zM750.465 27.992 696.363 48.76l6.535 17.023L757 45.014zM701.118 95.123a115.3 115.3 0 0 1 30.33-3.536l.323-18.215c-11.827-.18-23.636 1.166-35.122 4.091z'/%3E%3C/svg%3E");
    --asset-image-logo-submark: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 160'%3E%3Cpath fill='%23F2F3F5' d='M98.64 90.82c-4.064-14.53-12.448-42.324-12.542-42.608l-1.931-6.378L20.53 68.777l-1.107-.012v.485L12.5 72.185l4.64 11.075 2.155-.911-.212 22.15 15.544-1.266-3.404 23.014 9.833 5.42 30.346-26.446-4.027-4.674 33.219-2.721zm-53.227 21.134 1.437-9.727 10.74-.875zM31.164 91.46l.142-14.2 45.277-19.168c2.167 7.218 5.747 19.24 8.55 28.954zM110.415 28.333c-.118.095-11.682 9.928-16.44 13.62l7.314 9.501c4.957-3.857 16.356-13.536 16.839-13.95zM141.545 42.833l-35.499 13.693 4.288 11.224 35.499-13.694zM109.167 87.094a75.3 75.3 0 0 1 19.901-2.331l.212-12.01a87.5 87.5 0 0 0-23.045 2.698z'/%3E%3C/svg%3E");
    --font-family-text: "Hind Madurai","Hind-fallback",Arial,sans-serif;
    --font-family-title: "Montserrat","Montserrat-fallback",Verdana,sans-serif;
    --font-family-icon: "font-icon-cdiscount";
    --font-weight-regular: 400;
    --font-weight-bold: 600;
    --font-size: 14px;
    --font-size-base: 16px;
    --font-size-xs: 10px;
    --font-size-sm: 12px;
    --font-size-md: 14px;
    --font-size-lg: 16px;
    --font-size-h1: 24px;
    --font-size-h2: 21px;
    --font-size-h3: 18px;
    --font-size-h4: 16px;
    --shadow-100: 0px 4px 4px 0px rgba(41,56,71,.15);
    --shadow-200: 0px 8px 8px 0px rgba(41,56,71,.15);
    --shadow-color: rgba(41,56,71,.15);
    --shadow-color-transparent: transparent;
    --shadow-color-neutral-focus: rgba(41,56,71,.3);
    --shadow-color-action-focus: rgba(55,50,255,.3);
    --shadow-color-accent-focus: rgba(255,30,60,.3);
    --shadow-color-business-focus: rgba(55,50,255,.3);
    --shadow-color-brand-focus: rgba(55,50,255,.3);
    --shadow-none: none;
    --shadow-in: 0px -4px 4px 0px rgba(41,56,71,.15);
    --border-width: 1px;
    --border-width-md: 2px;
    --border-style: solid;
    --border-style-dashed: dashed;
    --border-radius-none: 0px;
    --border-radius: 8px;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;
    --border-radius-rounded: 50em;
    --border-radius-circle: 100%;
    --icon-size: 16px;
    --icon-size-xs: 8px;
    --icon-size-sm: 12px;
    --icon-size-md: 20px;
    --icon-size-lg: 24px
}

.tippy-box[data-animation=fade][data-state=hidden] {
    opacity: 0
}

[data-tippy-root] {
    max-width: calc(100vw - 10px)
}

.tippy-box {
    background-color: #333;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    line-height: 1.4;
    outline: 0;
    position: relative;
    transition-property: transform,visibility,opacity;
    white-space: normal
}

.tippy-box[data-placement^=top]>.tippy-arrow {
    bottom: 0
}

.tippy-box[data-placement^=top]>.tippy-arrow:before {
    border-top-color: initial;
    border-width: 8px 8px 0;
    bottom: -7px;
    left: 0;
    transform-origin: center top
}

.tippy-box[data-placement^=bottom]>.tippy-arrow {
    top: 0
}

.tippy-box[data-placement^=bottom]>.tippy-arrow:before {
    border-bottom-color: initial;
    border-width: 0 8px 8px;
    left: 0;
    top: -7px;
    transform-origin: center bottom
}

.tippy-box[data-placement^=left]>.tippy-arrow {
    right: 0
}

.tippy-box[data-placement^=left]>.tippy-arrow:before {
    border-left-color: initial;
    border-width: 8px 0 8px 8px;
    right: -7px;
    transform-origin: center left
}

.tippy-box[data-placement^=right]>.tippy-arrow {
    left: 0
}

.tippy-box[data-placement^=right]>.tippy-arrow:before {
    border-right-color: initial;
    border-width: 8px 8px 8px 0;
    left: -7px;
    transform-origin: center right
}

.tippy-box[data-inertia][data-state=visible] {
    transition-timing-function: cubic-bezier(.54,1.5,.38,1.11)
}

.tippy-arrow {
    color: #333;
    height: 16px;
    width: 16px
}

.tippy-arrow:before {
    border-color: transparent;
    border-style: solid;
    content: "";
    position: absolute
}

.tippy-content {
    padding: 5px 9px;
    position: relative;
    z-index: 1
}

.tippy-box[data-theme~=light] {
    background-color: #fff;
    box-shadow: 0 0 20px 4px rgba(154,161,177,.15),0 4px 80px -8px rgba(36,40,47,.25),0 4px 4px -2px rgba(91,94,105,.15);
    color: #26323d
}

.tippy-box[data-theme~=light][data-placement^=top]>.tippy-arrow:before {
    border-top-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=bottom]>.tippy-arrow:before {
    border-bottom-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=left]>.tippy-arrow:before {
    border-left-color: #fff
}

.tippy-box[data-theme~=light][data-placement^=right]>.tippy-arrow:before {
    border-right-color: #fff
}

.tippy-box[data-theme~=light]>.tippy-backdrop {
    background-color: #fff
}

.tippy-box[data-theme~=light]>.tippy-svg-arrow {
    fill: #fff
}

.tippy-box[data-placement^=top]>.tippy-svg-arrow {
    bottom: 0
}

.tippy-box[data-placement^=top]>.tippy-svg-arrow:after,.tippy-box[data-placement^=top]>.tippy-svg-arrow>svg {
    top: 16px;
    transform: rotate(180deg)
}

.tippy-box[data-placement^=bottom]>.tippy-svg-arrow {
    top: 0
}

.tippy-box[data-placement^=bottom]>.tippy-svg-arrow>svg {
    bottom: 16px
}

.tippy-box[data-placement^=left]>.tippy-svg-arrow {
    right: 0
}

.tippy-box[data-placement^=left]>.tippy-svg-arrow:after,.tippy-box[data-placement^=left]>.tippy-svg-arrow>svg {
    left: 11px;
    top: calc(50% - 3px);
    transform: rotate(90deg)
}

.tippy-box[data-placement^=right]>.tippy-svg-arrow {
    left: 0
}

.tippy-box[data-placement^=right]>.tippy-svg-arrow:after,.tippy-box[data-placement^=right]>.tippy-svg-arrow>svg {
    right: 11px;
    top: calc(50% - 3px);
    transform: rotate(-90deg)
}

.tippy-svg-arrow {
    height: 16px;
    width: 16px;
    fill: #333;
    text-align: left;
    text-align: initial
}

.tippy-svg-arrow,.tippy-svg-arrow>svg {
    position: absolute
}

lite-youtube {
    background-color: #000;
    background-position: 50%;
    background-size: cover;
    contain: content;
    cursor: pointer;
    display: block;
    max-width: 720px;
    position: relative
}

lite-youtube:before {
    background-image: linear-gradient(180deg,rgba(0,0,0,.67),rgba(0,0,0,.54) 14%,rgba(0,0,0,.15) 54%,rgba(0,0,0,.05) 72%,transparent 94%);
    box-sizing: border-box;
    color: #ededed;
    content: attr(data-title);
    display: block;
    font-family: YouTube Noto,Roboto,Arial,Helvetica,sans-serif;
    font-size: 18px;
    height: 99px;
    overflow: hidden;
    padding: 25px 20px;
    position: absolute;
    text-overflow: ellipsis;
    text-shadow: 0 0 2px rgba(0,0,0,.5);
    top: 0;
    white-space: nowrap;
    width: 100%
}

lite-youtube:hover:before {
    color: #fff
}

lite-youtube:after {
    content: "";
    display: block;
    padding-bottom: 56.25%
}

lite-youtube>iframe {
    left: 0;
    top: 0
}

lite-youtube>.lty-playbtn,lite-youtube>iframe {
    border: 0;
    height: 100%;
    position: absolute;
    width: 100%
}

lite-youtube>.lty-playbtn {
    background: no-repeat 50%/68px 48px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
    cursor: pointer;
    display: block;
    filter: grayscale(100%);
    transition: filter .1s cubic-bezier(0,0,.2,1);
    z-index: 1
}

lite-youtube .lty-playbtn:focus,lite-youtube:hover>.lty-playbtn {
    filter: none
}

lite-youtube.lyt-activated {
    cursor: inherit
}

lite-youtube.lyt-activated:before,lite-youtube.lyt-activated>.lty-playbtn {
    opacity: 0;
    pointer-events: none
}

.lyt-visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

/*# sourceMappingURL=vendor-d2eb5610.ce83d4613dad2f985cca.css.map*/
